
.main {
    min-width: 320px;
}

h1, h2 {
    text-align: center;
    margin: 1rem auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.75rem;
}

h2 {
    font-size: 1.25rem;
}

.colored {
    background-color: #f9f9b9;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3.75rem;
    }
    h2 {
        font-size: 1.65rem;
    }
}


.blox {
    margin-bottom: 2rem;
}

.blox:hover {
    background-color: #f9f9f9;
}

.blox.colored:hover {
    background-color: #f9f9b9;
}

.blox img {
    margin: 0.5rem;
}

.blox p {
    text-align: center;
}

.blox p b {
    font-size: 1.5em;
}